@import "tailwindcss";

:root {
  --color-gradient-top: #d3dbbc;
  --color-gradient-bottom: #b7c4a3;
  --color-dark-gradient-top: rgb(1, 21, 22);
  --color-dark-gradient-bottom: rgb(1, 11, 22);
}
@theme {
  --breakpoint-sm: 400px;
  --breakpoint-md: 600px;
  --breakpoint-lg: 1030px;
  --breakpoint-xl: 1340px;
  --breakpoint-2xl: 1700px;
  --breakpoint-3xl: 1900px;
}
@variant dark (&:where(.dark, .dark *));

@layer utilities {
  /* Hide scrollbar */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer components {
  html,
  body {
    @apply m-0 p-0 min-h-screen;
  }
  main,
  body {
    @apply text-zinc-800 bg-(--color-gradient-top);
    @variant dark {
      @apply text-zinc-100 bg-(--color-dark-gradient-top);
    }
  }

  nav {
    @apply bg-green-600/70 text-zinc-100 backdrop-blur-md;
    @variant dark {
      @apply bg-green-400/40 backdrop-blur-2xl;
    }
  }
  .nav-main-link {
    @apply px-2.5 py-1 m-3 rounded-3xl mx-0.5 transition-all
    hover:bg-green-300 hover:text-black hover:shadow-md hover:scale-y-105
    active:bg-green-100 active:shadow-sm active:scale-y-95;
  }
  .nav-main-link-active {
    @apply ring-1 border-green-200/50 shadow-lg;
  }
  .search-bar {
    @apply text-white/60 inset-shadow-sm placeholder-white/50
    flex rounded-3xl border-2 h-8 w-full max-w-100 transition-all duration-500;
  }
  #mobile-menu-button {
    @apply text-white/90 hover:text-white hover:scale-105 focus:outline-0 cursor-pointer;
  }

  .content-body {
    background:
      radial-gradient(
        ellipse at 20% 40%,
        rgba(235, 248, 246, 0.7) 40%,
        transparent 70%
      ),
      radial-gradient(
        ellipse at 60% 70%,
        rgba(100, 140, 150, 0.2) 32%,
        transparent 60%
      ),
      linear-gradient(
        to bottom,
        var(--color-gradient-top) 0%,
        var(--color-gradient-bottom) 100%
      );
    background-size:
      100% 100%,
      100% 100%,
      100% 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    @apply pt-1 pb-12;

    @variant dark {
      background:
        radial-gradient(
          ellipse at 20% 20%,
          rgba(80, 90, 70, 0.4) 20%,
          transparent 80%
        ),
        radial-gradient(
          ellipse at 60% 70%,
          rgba(100, 140, 150, 0.3) 10%,
          transparent 80%
        ),
        linear-gradient(
          to bottom,
          var(--color-dark-gradient-top) 0%,
          var(--color-dark-gradient-bottom) 100%
        );
      background-size:
        100% 100%,
        100% 100%,
        100% 100%;
      background-repeat: no-repeat;
      background-attachment: scroll;
    }
  }

  .central-responsive-div {
    @apply px-2 mx-auto w-full 2xl:w-420 transition-all duration-400;
  }

  Footer {
    @apply bg-green-600/80 text-zinc-100;
    @variant dark {
      @apply bg-green-800;
    }
  }

  .btn-primary {
    @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700
     focus:outline-none focus:ring-2 focus:ring-blue-400/75;
  }
  .hover-to-white {
    @apply transition-colors duration-200 hover:text-white;
  }
  .product-card {
    @apply bg-stone-50/80 m-1 rounded-2xl shadow-xl flex flex-col min-w-[18rem]
    hover:scale-[102%] hover:shadow-2xl duration-200 ease-in-out cursor-pointer hover:bg-white;

    @variant dark {
      /* background: linear-gradient(to bottom, #222 0%, #333 100%);
      background-size: 100% 100%; */
      @apply text-zinc-100 ring-zinc-500 ring-2 shadow-zinc-900 bg-white/5 backdrop-blur-xl
       hover:bg-green-300/10 hover:ring-green-700;
    }
  }
  .grid-title {
    @apply mt-4 mb-2 text-xl text-green-700 font-bold text-center text-nowrap;
    @variant dark {
      @apply text-zinc-300;
    }
  }
  .size-tag {
    @apply z-20 absolute top-28 left-4 p-2 px-3 text-center text-lg lg:text-base
    bg-black/30 backdrop-blur-sm text-white
    font-semibold ring-1 ring-white rounded-2xl shadow-md;
    @variant dark {
      @apply bg-black/60 text-zinc-300;
    }
  }
  .source-site-footer {
    @apply flex items-center justify-center gap-x-2 p-1 rounded-b-2xl h-full;
  }
  .glass-capsule {
    @apply w-full flex items-center justify-center bg-white/10 backdrop-blur-xs rounded-3xl;

    @variant dark {
      @apply bg-transparent;
    }
  }
  .hover-light {
    @apply hover:bg-white/60 hover:shadow-md hover:shadow-black/10 transition-shadow;
    @apply active:scale-[98%] active:shadow-sm;
  }
}
