@import "tailwindcss";

:root {
  --color-ww-green: #589d7b;
  --color-pak-yellow: #ffd600;
  --color-warehouse-red: #c00;
  --color-newworld: #535;
  --color-gradient-top: #ebe5dd;
  --color-gradient-bottom: #d7e6bf;
  --color-dark-gradient-top: rgb(22, 21, 22);
  --color-dark-gradient-bottom: rgb(22, 11, 22);
}
@theme {
  --breakpoint-sm: 400px;
  --breakpoint-md: 600px;
  --breakpoint-lg: 1030px;
  --breakpoint-xl: 1340px;
  --breakpoint-2xl: 1700px;
  --breakpoint-3xl: 2100px;
}
@variant dark (&:where(.dark, .dark *));

@layer utilities {
  /* Hide scrollbar */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer components {
  html,
  body {
    @apply m-0 p-0 min-h-screen;
  }
  main,
  body {
    @apply text-zinc-800 bg-(--color-gradient-top);
    @variant dark {
      @apply text-zinc-100 bg-(--color-dark-gradient-top);
    }
  }

  nav {
    @apply bg-green-600/50 text-zinc-100 backdrop-blur-md;
    @variant dark {
      @apply bg-green-400/20 backdrop-blur-2xl;
    }
  }
  .nav-main-link {
    @apply px-2.5 py-1 m-3 rounded-3xl mx-0.5 transition-all
    hover:bg-green-300 hover:text-black hover:shadow-md hover:scale-y-105
    active:bg-green-100 active:shadow-sm active:scale-y-95;
  }
  .nav-main-link-active {
    @apply ring-1 border-green-200/50 shadow-lg;
  }
  .search-bar {
    @apply text-white/60 inset-shadow-sm placeholder-white/50
    flex rounded-3xl border-2 h-8 w-full max-w-100 transition-all duration-500;
  }

  .content-body {
    background:
      radial-gradient(
        ellipse at 20% 40%,
        rgba(90, 150, 80, 0.1) 22%,
        transparent 50%
      ),
      radial-gradient(
        ellipse at 80% 60%,
        rgba(100, 140, 150, 0.15) 22%,
        transparent 40%
      ),
      linear-gradient(
        to bottom,
        var(--color-gradient-top) 0%,
        var(--color-gradient-bottom) 100%
      );
    background-size:
      100% 100%,
      100% 100%,
      100% 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    @apply pt-1 pb-12;

    @variant dark {
      background:
        radial-gradient(
          ellipse at 10% 20%,
          rgba(80, 90, 70, 0.3) 1%,
          transparent 80%
        ),
        radial-gradient(
          ellipse at 60% 60%,
          rgba(100, 140, 150, 0.2) 1%,
          transparent 80%
        ),
        linear-gradient(
          to bottom,
          var(--color-dark-gradient-top) 0%,
          var(--color-dark-gradient-bottom) 100%
        );
      background-size:
        100% 100%,
        100% 100%,
        100% 100%;
      background-repeat: no-repeat;
      background-attachment: scroll;
    }
  }

  .central-responsive-div {
    @apply px-2 mx-auto w-full 2xl:w-360 3xl:w-440 transition-all duration-400;
  }

  Footer {
    @apply bg-[#6ac47f] text-zinc-100;
    @variant dark {
      @apply bg-[#113428];
    }
  }

  .text-primary-colour {
    @apply text-green-200;
  }
  .text-input {
    @apply px-2 my-0 py-0 rounded-md border border-stone-300;
  }

  .small-link {
    @apply ring-green-300 ring-2 px-2 py-1 rounded-3xl font-semibold bg-zinc-50 hover:bg-white shadow-md hover:shadow-lg transition-shadow;
  }
  .btn-primary {
    @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700
     focus:outline-none focus:ring-2 focus:ring-blue-400/75;
  }
  .hover-to-white {
    @apply transition-colors duration-200 hover:text-white;
  }
  .product-card {
    @apply bg-stone-50/80 m-1 rounded-2xl shadow-lg flex flex-col min-w-[18rem]
    hover:scale-[102%] hover:shadow-2xl duration-200 ease-in-out cursor-pointer hover:bg-white;

    @variant dark {
      background: linear-gradient(to bottom, #110 0%, #222 100%);
      background-size: 100% 100%;
      @apply text-zinc-100 ring-zinc-600 ring-2
       hover:bg-white/40 hover:ring-green-800;
    }
  }
  .grid-title {
    @apply mt-4 mb-2 text-xl text-green-700 font-bold text-center text-nowrap;
    @variant dark {
      @apply text-zinc-300;
    }
  }
  .size-tag {
    @apply z-20 absolute top-28 left-4 p-2 px-3 text-center text-lg lg:text-base
    bg-black/30 backdrop-blur-sm text-white
    font-semibold ring-1 ring-white rounded-2xl shadow-md;
    @variant dark {
      @apply bg-black/60 text-zinc-300;
    }
  }
  .source-site-footer {
    @apply flex items-center justify-center gap-x-2 p-1 rounded-b-2xl h-full;
  }
  .glass-capsule {
    @apply w-full flex items-center justify-center bg-white/10 backdrop-blur-xs rounded-3xl;

    @variant dark {
      @apply bg-transparent;
    }
  }
  .hover-light {
    @apply hover:bg-white/60 hover:shadow-md hover:shadow-black/10 transition-shadow;
    @apply active:scale-[98%] active:shadow-sm;
  }

  #mobile-menu-button {
    @apply text-white/90 hover:text-white focus:outline-0 cursor-pointer;
  }
  .modal-outside-tint {
    @apply absolute inset-0 bg-black/20 backdrop-blur-none;
  }
}
